// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Vazir
@import '~vazir-font/dist/font-face.css';

@import "~vue-select/src/scss/vue-select";
*{
    font-family: Vazir,sans-serif;
}
.form-check .form-check-input {
    float: none;
    margin-left: 0;
}

